body{}
header{
 
}
.container{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo{
    flex-basis: 15%;
    max-width: 15%;
}
.logo img { 

 }
 nav{
    flex-basis: 85%;
    max-width: 85%;
}
 nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}
 nav ul li {
    list-style-type: none;
}
 nav ul li a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
    display: block;
}
 



 .section-one{
    background-image: url(../image/yellowpofo.jpg);
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }
 .section-two{
    background-image: url(../image/bluepofo.jpg);
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }
 .section-three{
    background-image: url(../image/pinkpofo.jpg);
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }
 .section-four{
    background-image: url(../image/greenpofo.jpg);
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }
 .section-five{
    background-image: url(../image/lpinkpofo.jpg);
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

h1{
    font-size: 60px;
    color: #fff;
    background: #ffffff40;
    width: 700px;
    margin: auto;
    padding: 10px 0;
    text-align: center;
}

